@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluştrulma tarihi</th>
        <th>Kategori</th>
        <th>Durumu</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.BlogStatus == true)
                {
                    <label class="badge badge-gradient-success">Aktif</label>
                }
                else
                {
                    <label class="badge badge-gradient-danger">Pasif</label>
                }
            </td>
            <td><button href="#" value="@item.BlogID" class="btn btn-danger deletebtn">Sil</button></td>
            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
        </tr>

    }
</table>
<a href="/Blog/BlogAdd" class="btn btn-info">Yeni Blog Oluştur</a>
<script>
            $(".deletebtn").click((e)=> {

               const id = e.target.value;
                swal({
          title: "Silme işlemini onayla",
          text: "Blogu silmek istediğinize emin misiniz ?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
              $.ajax({url:`/Blog/DeleteBlog/${id}`}).done(()=>{
                  setTimeout(function(){
       window.location.reload(1);
    }, 3000);
              });
            swal("Blog başarıyla silindi", {
              icon: "success",
            });
          } else {
            swal("Blog silinmedi");
          }
        });
            })
</script>